{% extends 'admin-layout.twig' %}

{% block content %}
	<div class="container add-data">
		<div class="row">
			
			<h2>{{ title }}</h2>
			
			{% for key, item in structure %}
			<div class="row section">
			    <div class="col-sm-2">
			    	<h4>{{key}}</h4>
			    </div>
			    <div class="col-sm-10">
				    {% if item == 'textarea'%}
						<div class="data summernote" name="{{key}}"></div>
					{% elseif item == 'input' %}
						<input class="data" type="text" name="{{key}}">
					{% elseif structure[key] == 'textarea' %}
						<textarea name="{{key}}" class="data"></textarea>
				    {% endif %}
			    </div>
			</div>
			{% endfor %}
			<a id="add-new" role="button" href="/admin/add-data/{{ colName }}" class="btn btn-primary">Publish</a>
		</div>
	</div>
{% endblock %}