<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
	<link rel="shortcut icon" href="images/favicon.ico" />
	<link rel="stylesheet" href="/styles/main.css">
	<script src="/javascript/main.js"></script>
	<script src="/javascript/admin.js"></script>

	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.css" rel="stylesheet">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.2/summernote.js"></script>

	<title>{{ title }}</title>
</head>
<body>
	<header class="admin">
		<nav class="navbar navbar-default">
		  <div class="container-fluid col-sm-10">
		    <div class="navbar-header">
		      <a class="navbar-brand" href="/" data-toggle="tooltip" data-placement="bottom" title="Back to home page">Admin - cinema</a>
		    </div>
		    <ul class="nav navbar-nav">
		      <li><a href="/admin">Dashboard</a></li>
		      <li class="dropdown">
				  <a data-toggle="dropdown">Content
				  <span class="caret"></span></a>
				  <ul class="dropdown-menu">
				    {% for col in cols %}
				      <li><a href="/admin/show-data/{{ col }}">{{ col }}</a></li>
				    {% endfor %}
				  </ul>
		      </li>
		    </ul>
		  </div>
		  <div class="col-sm-2">
		  	<div class="admin-head">
		  		<a href="/admin/logout">Logout</a>
		  		/
				<a class="name" href="/admin/profile/{{ admin.name }}">{{ admin.name }}</a>
			</div>
		  </div>
		</nav>
	</header>
		{% block content %}

		{% endblock %}
	<footer class="row">
		<div class="col-sm-12">
			<p>
				Copyright &copy; 2016
			</p>
		</div>
	</footer>
</body>
</html>