{% extends 'admin-layout.twig' %}

{% block content %}
	    
	<div class="container show-data">
		<div class="row">
			<div class="col-sm-12">

				{% if error %}
					<div class="alert alert-danger">
						<strong>Error!</strong> {{ error }}
					</div>
				{% else %}

					<h2>{{ title }}</h2>
					<a href="/admin/add-data/{{ colName }}">Add new</a>

					<table class="table">
					    <thead>
					      <tr>
							<th>Title</th>
							<th>Date</th>
							<th>Last update</th>
							<th>Author</th>
							<th>-</th>
					      </tr>
					    </thead>
					    <tbody>
					      	{% for doc in col %}
					      		<tr>
									<td>{{ doc.title }}</td>
									<td>{{ date(doc.createdAt) }}</td>
									<td>{{ date(doc.updatedAt) }}</td>
									<td>{{ doc.author }}</td>
									<td>
										<a class="edit" href="/admin/edit-data/{{ colName }}/{{doc._id}}">Edit</a>
										-
										<a class="remove" href="/admin/delete-data/{{ colName }}/{{doc._id}}">Delete</a>
									</td>
								</tr>
							{% endfor %}
					    </tbody>
					</table>

				{% endif %}

			</div>
			<div class="paginationContainer col-sm-12">
			<ul class="pagination">
			{% if pageCount > 1 %}
				{% for i in 1..pageCount %}
					<li {% if i == currentPage %} class="active"  {% endif %}><a href="/admin/show-data/{{ colName }}/{{ i }}">{{ i }}</a></li>
				{% endfor %}
			{% endif %}
			</ul>
			</div>
		</div>
	</div>

{% endblock %}