{% extends 'admin-layout.twig' %}

{% block content %}
	    
	<div class="container">
		<div class="row">
			<div class="col-sm-12">

				{% if error %}
					<div class="alert alert-danger">
						<strong>Error!</strong> {{ error }}
					</div>
				{% else %}
					
					<h2>{{ title }}</h2>
					<a href="/admin/add-new-data/{{ colName }}">Add new</a>

					<table class="table">
					    <thead>
					      <tr>
							<th>Title</th>
							<th>Date</th>
							<th>Author</th>
							<th>-</th>
					      </tr>
					    </thead>
					    <tbody>
					      	{% for doc in col %}
					      		<tr>
									<td>{{ doc.title }}</td>
									<td>{{ doc.date }}</td>
									<td>{{ doc.author }}</td>
									<td>
										<a href="/admin/edit-data/{{ colName }}/{{doc._id}}">Edit</a>
										-
										<a href="/admin/delete-data/{{ colName }}/{{doc._id}}">Delete</a>
									</td>
								</tr>
							{% endfor %}
					    </tbody>
					</table>

				{% endif %}

			</div>
		</div>
	</div>

{% endblock %}